// ======================================================
// Abstracts :: Variables
// ======================================================


//Colors picker
$c-bl: #164989;
$c-yl: #FAB019;
$c-wh: #fff;
$c-black: #1a1a1a;
$c-bb: #2C485B;

//Background color

//Font size
$fs-14: 14px;