ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

input, textarea {
  outline: none; }

img {
  max-width: 100%; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial"; }

.container-login {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto; }

.row-login {
  margin: 0 35px; }

.login-main {
  position: relative;
  background: url("../img/bg-login.png") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 52px; }
  .login-main .login-block {
    width: 411px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.26);
    background: #164989;
    padding: 58px 39px; }
    .login-main .login-block .logo {
      margin-top: 0px;
      margin-bottom: 36px; }
      .login-main .login-block .logo img {
        width: 101px;
        height: 82px; }
    .login-main .login-block .slogan-vi {
      font-size: 11px;
      line-height: 13px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 3px; }
    .login-main .login-block .slogan-en {
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 43px;
      text-transform: uppercase;
      color: #fff; }
    .login-main .login-block .form-login .title-login {
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      margin-bottom: 27px; }
    .login-main .login-block .form-login .styled-input .form-enter-acc:focus ~ label, .login-main .login-block .form-login .styled-input .form-enter-acc:valid ~ label {
      font-size: 11px;
      color: #2C485B;
      top: 0;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); }
    .login-main .login-block .form-login .styled-input {
      margin-bottom: 11px;
      position: relative; }
      .login-main .login-block .form-login .styled-input .form-enter-acc {
        background: #fff;
        height: 57px;
        line-height: 57px;
        font-size: 14px;
        color: #1a1a1a;
        border-radius: 4px;
        width: 100%;
        border: none;
        padding: 21px 24px; }
        .login-main .login-block .form-login .styled-input .form-enter-acc ~ span {
          display: block;
          width: 0;
          height: 3px;
          background: #FAB019;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }
        .login-main .login-block .form-login .styled-input .form-enter-acc:focus ~ span {
          width: 100%;
          transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); }
      .login-main .login-block .form-login .styled-input label {
        position: absolute;
        top: 21px;
        left: 24px;
        color: #2C485B;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none; }
    .login-main .login-block .form-login .capcha {
      height: 57px;
      margin-bottom: 11px;
      background: #fff; }
    .login-main .login-block .form-login .btn-login {
      font-size: 14px;
      line-height: 16px;
      background: #FAB019;
      font-weight: 700;
      color: #fff;
      border-radius: 4px;
      margin-bottom: 30px;
      height: 57px;
      transition: all 0.3s; }
      .login-main .login-block .form-login .btn-login:hover {
        background: #efcb81;
        transition: all 0.3s; }
    .login-main .login-block .form-login .forgot-password {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 134px; }
      .login-main .login-block .form-login .forgot-password:hover {
        text-decoration: underline; }
    .login-main .login-block .form-login .capcha, .login-main .login-block .form-login .btn-login, .login-main .login-block .form-login .forgot-password {
      position: relative;
      z-index: 10; }
  .login-main .news {
    width: 547px;
    padding-top: 94px;
    position: relative;
    z-index: 10; }
    .login-main .news .items-news .title-news {
      margin-bottom: 38px; }
      .login-main .news .items-news .title-news a {
        color: #fff;
        font-size: 33px;
        line-height: 39px;
        font-weight: 700;
        display: block; }
        .login-main .news .items-news .title-news a:hover {
          color: #fab019; }
    .login-main .news .items-news .time-update {
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 27px; }
    .login-main .news .items-news .box-img {
      position: relative;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.59); }
      .login-main .news .items-news .box-img:before {
        content: '';
        display: block;
        padding-bottom: 55%; }
      .login-main .news .items-news .box-img img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
  .login-main .foot-login {
    color: #fff;
    font-size: 11px;
    position: absolute;
    bottom: 34px;
    width: 100%;
    z-index: 10; }
    .login-main .foot-login .copyright {
      color: #fff;
      line-height: 13px; }
    .login-main .foot-login .connect-social a {
      color: #fff;
      margin-left: 20px; }
      .login-main .foot-login .connect-social a:hover {
        color: #fab019; }
  .login-main .bg-bot-login {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
