// ======================================================
// Layout :: Grid
// ======================================================

.container-login{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.row-login{
  margin: 0 35px;
}